.kembali {
  display: block;
  margin-top: 30px;
  color: #000;
}

.form-login-register {
  display: block;
  margin: auto;
  width: 50%;
  border: solid 1px #dcdcdc;
  border-radius: 8px;
  padding: 80px;
  box-shadow: 0 0 5px;
}

.btn-masuk {
  color: #fff;
  background-color: #387525;
}

.logo {
  margin: auto;
  text-align: center;
}

.link-bottom {
  color: #000;
}

.footer-login-register {
  display: block;
  margin-top: 25px;
  text-align: center;
}

/* Responsive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .kembali{
    margin-top: 10px;
  }
  .form-login-register{
    width: 100%;
    padding: 35px;
    margin-top: 50px;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) HD */ 
@media only screen and (min-width: 992px) {    

} 

/* Extra large devices (large laptops and desktops, 1200px and up) HD */
@media only screen and (min-width: 1200px) {    

}

/* Very Extra large devices (large laptops and desktops, 1920px and up) FHD */
@media only screen and (min-width: 1920px) {

}